.userInterfaceHeader{
  position: relative;
  background-color: white;
  box-shadow:0 0 5px 2px #f3f4f5;
  z-index: 2;
  font-size: 36px;
}

.user {
  color: #595959;
  display: inline-block;
  line-height: 64px;
  padding-left: 12px;
  padding-right: 12px;
}

.user:hover {
  background-color: aliceblue;
  color: #595959;
}

.userName {
  font-size: 36px;
  padding-left: 12px;
}

.dropdown {
  width: 160px;
  font-size: 36px;
}

.accountIcon {
  padding-right: 10px;
}

.userInterfaceSider {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.menuItems {
  display: inline-block;
  height: 80px !important;
}

.communication {
  line-height: 80px;
}

.userInterfaceContent {
  width: 70%;
}

.userInterfaceBlank {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 30%;
  width: 70%;
  background-color: #f0f2f5;
}

.communicationMain {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 30%;
  width: 70%;
}

.communicationHeader {
  background-color: white;
  z-index: 1;
}

.communicationBottom {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.pictureOnlyInactive {
  color: gray;
  position: absolute;
  right: 10px;
}

.pictureOnlyActive {
  position: absolute;
  right: 10px;
}

.communicationContent {
  position: absolute;
  top: 54px;
  bottom: 83.6px;
  width: 100%;
  overflow: auto;
  background-color: #f0f2f5;
}

.messageLeft {
  float: left;
  clear: both;
  background-color: white;
  border-radius: 20px;
  margin: 20px 0 20px 10px;
  width: fit-content;
  max-width: 50%;
  padding: 10px 20px 10px 20px;
}

.messageRight {
  float: right;
  clear: both;
  background-color: greenyellow;
  border-radius: 20px;
  margin: 20px 10px 20px 0;
  width: fit-content;
  max-width: 50%;
  padding: 10px 20px 10px 20px;
}

.image {
  max-width: 100%;
}

.time {
  color: #b8b8b8;
  font-size: 20px;
}

span {
  word-wrap : break-word ;
}

.textInput {
  display: inline-block;
  flex: 2;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textInput input{
  font-size: 36px;
  height: fit-content;
}

.sendButton {
  display: inline-block;
  margin: 13px 10px 12px 10px;
}

.sendButton button {
  font-size: 36px;
  height: fit-content;
}

.sendImage {
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.sendForm{
  display: flex;
  flex: 2;
}
